/*Tags*/
body{
    background-color: #FDF6F0;
}

img{
    height: 200px;
    width: 150px;
    float: left;
    margin: 0 30px;
}

nav{
    padding: 0 20px;
    position: fixed;
}

/*Classes*/

.div-docs{
    display: inline-block;
    padding: 5% 10%;
    font-size: large;
    font-family: 'Roboto', sans-serif;
}

.div-docs p{
    display: block;
    position: relative;
    top: 90px;
}

.html-desc{
    background-color: #F8485E;
}

.css-desc{
    background-color: #A2D2FF;
}

.js-desc{
    background-color: #FFE699;
}

.web-desc h1{
    text-align: center;
}

.web-desc{
    padding: 20px;
}
